<md-toolbar layout="row" layout-align="start center">
    <md-button class="md-icon-button" aria-label="Menu" ng-show="$mdMedia('max-width: 600px')" ng-click="toggleLeftMenu()">
          <i class="material-icons">menu</i>
    </md-button>
    <h2 class="thin">WhoIsHiring's Postings:</h2>
</md-toolbar>
<div flex layout="row">
  <md-sidenav md-component-id="left" class="md-whiteframe-z1" md-is-locked-open="$mdMedia('min-width: 600px')">
    <md-content>
        <div class="whois-controls" layout="column" layout-align="center center" flex>

          <div class="padding-bottom" layout="column" layout-align="center center">
            <h3>Choose Submission</h3>

            <a class="link" href ng-repeat="submission in filteredSubmissions track by $index"
              ng-click="getPostings(submission)">
              {{submission.title}}
            </a>


            <p ng-show="postings.length>0">
              {{postings.length}} Postings loaded
            </p>
          </div>

          <div class="padding-bottom" layout="column" layout-align="center center">
            <h3>Search Queries</h3>
            <md-input-container ng-repeat="searchQuery in searchQueries track by $index" layout-align="center center">
              <label>Search Term</label>
              <input type="text" ng-model="searchQueries[$index]" ng-model="searchQueries[$index]">
            </md-input-container>

            <md-button ng-click="searchQueries.push('')">Add</md-button>
            <md-button ng-click="filterPostings()">Apply</md-button>

          </div>
        </div>
      </md-content>
  </md-sidenav>

  <md-content>
    <div flex class="postings">
      <div flex layout="column" layout-align="center center">
        <div class="posting md-whiteframe-z1" ng-repeat="posting in filteredPostings">
          <div ng-bind-html="posting.htmlText"></div>
        </div>
      </div>
    </div>
  </md-content>

</div>
